/* jquery.flip */

.front > img {
    width: 100%; /* Keep the image within the card */
}

.back {
    background-image: url('../cards/card back 2.png');
    background-size: cover;
}

/* moveCard stuff */

.card { /* Have card being placed be over card-zone */
    z-index: 1;
    position: relative;
    overflow-y: hidden;
}

.card-relative {
    height: var(--card-height)
}

.card-front, .card-back {
    position: absolute;
    border: 2px solid green;
    backface-visibility: hidden;
}

.card-back {
    width: 100%;
    height: 100%;
    background-image: url('../cards/card back 2.png');
    background-size: cover;
    transform: rotateY(180deg);
}