#info-panel {
    background-color: gray;
    font: 24rem A-Space Demo;
    white-space: nowrap;
    padding: 15px;
    width: 25%;
}

#info-stats > p {
    margin: 0;
}

#game-phase {
    font-family: A-Space Demo;
}

#preview-card-img {
    width: 100%;
}

#feed {
    font: 16rem Arial;
}

#feed > em {
    color: rgb(255, 200, 0);
}

#opponent-lp {
    font: 48rem A-Space Demo;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1; /* Show lp over graveyard */
}

#player-lp {
    font: 48rem A-Space Demo;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; /* Show lp over deck */
}