:root {
    --card-width: 100px;
    --card-height: calc(var(--card-width) * 1.45);
    --card-aspect-ratio: calc(var(--card-height) / var(--card-width))
}

/* {
    box-sizing: border-box;
}*/

#viewport {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

#summon-options, #change-position-options, #attack-menu {
    display: flex; 
    flex-direction: column;
    position: fixed; 
    z-index: 1;
}

#mat {
    width: 85%;
    height: 100%; /* To fill relative parent */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: perspective(1500px) rotateX(15deg) scaleY(1);
    transform-origin: center center;
    margin: 0 100px; /* Keep overflow from perspective within bounds */
}


#field-grid-wrapper {
    display: flex;
    justify-content: center;
}

.field-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.card-zone-square {
    width: var(--card-height);
    background-color: cyan;
    display: flex;
    justify-content: center;
}

.card-zone  { /*.card-zone > img */
    width: var(--card-width);
    height: var(--card-height);
    /*border: 2px solid red;*/
    position: relative;
}

.field-zone { background-color: yellow; }
.main-zone { background-color: lime; ;}

#row-wrapper {
    /*display: flex;*/
    display: grid;
    grid-template-columns: auto minmax(0, auto) auto;
    justify-content: space-between;
    /*justify-content: center;*/
}

#player-hand, #computer-hand {
    display: flex;
    justify-content: center;
    /*width: 80%;*/
}

#player-hand > div, #computer-hand > div {
    width: var(--card-width);
    /*margin: auto 15px;*/
    flex: 1 0 0;
    overflow-x: hidden;
}

#player-hand > div:last-child, #computer-hand > div:last-child {
    flex: 0 0 auto;
}

.card-img {
    max-width: var(--card-width);
}

.active-card {
    border: 5px solid blue;
}

button {
    font: 32rem Arial;
}