#turn-popup {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
}

#turn-popup > span {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(135, 229, 255), rgb(0, 0, 144));
    font: 48px Arial;
    font-weight: bold;
    color: white;

    border: 15px solid;
    border-left: 0;
    border-right: 0;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to top right, blue, cyan);
}